* {
  text-decoration: none;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(74, 74, 74, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

h1 {
  text-shadow: 2px 2px 12px rgb(172, 172, 172);
}

.cell {
  width: 85px;
  height: 85px;
  border: 2px solid;
  box-shadow: 0 0 0 2px rgb(90, 90, 90);
  line-height: 75px;
  font-size: 50px;
  cursor: pointer;
  background-color: rgb(167, 167, 167);
}

#gameContainer {
  margin-top: 13%;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  color: rgb(0, 0, 0);
  width: 225px;
  margin-left: 43%;
}

button {
  color: rgb(225, 65, 123);
  text-shadow: 2px 2px 18px rgb(170, 37, 85);
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-top: 15px;
}

button::before {
  margin-left: auto;
}

button::after,
button::before {
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(170, 37, 85);
  display: block;
  transition: 0.5s;
}

button:hover::after,
button:hover::before {
  width: 100%;
}

button:active {
  transform: translateY(0.5px);
}

a {
  text-shadow: 2px 2px 18px rgb(170, 37, 85);
  color: rgb(207, 29, 95);
}

.loader {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 65px;
  height: 65px;
  border: 14px solid #dddddd;
  border-top-color: rgb(170, 37, 85);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(0.75turn);
  }
}
